@import "../../index.scss";

.dropdown {
   margin: 20px 0;
   width: 100%;

   button {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: "Montserrat", sans-serif;
      background: $main-color;
      color: white;
      font-size: 13px;
      font-weight: 700;
      padding: 10px;
      border: none;
      border-radius: 5px;
      width: 100%;
      cursor: pointer;

      svg {
         transition: 0.35s;

         &.rotate-arrow {
            transform: rotate(180deg);
         }
      }
   }

   .dropdown-content {
      color: black;
      margin: 10px 20px;
      padding: 0;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.35s ease;

      &.dropdown-open {
         max-height: 200px;
      }

      li {
         font-size: 12px;
      }
   }
}
