@import "../../main.scss";

.dropdown {
   width: 100%;
   margin: 0 auto;

   .dropdown-title {
      margin: 0;
      font-size: 16px;
      font-weight: 700;
   }

   .dropdown-toggle {
      height: 30px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: "Montserrat", sans-serif;
      background: $main-color;
      color: white;
      font-size: 14px;
      font-weight: 700;
      padding: 0 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
   }

   .dropdown-icon {
      transition: 0.35s;

      &.rotate-arrow {
         transform: rotate(180deg);
      }
   }

   .dropdown-content {
      color: black;
      margin: 10px 20px;
      padding: 0;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.35s ease;

      &.dropdown-open {
         max-height: 200px;
      }

      li {
         font-size: 12px;
      }
   }
}

@media screen and (min-width: 600px) {
   .dropdown {
      max-width: 1024px;

      .dropdown-toggle {
         height: 60px;
         font-size: 16px;
         padding: 0 30px;
      }

      .dropdown-content li {
         font-size: 14px;
      }
   }
}

@media screen and (min-width: 1024px) {
   .dropdown {
     

      .dropdown-toggle {
         height: 80px;
         font-size: 20px;
         padding: 0 50px;
      }

      .dropdown-content li {
         font-size: 16px;
      }
   }
}
