.index {
   .cards-container {
      width: 100%;
      max-width: 1200px;
      @media screen and (min-width: 1024px) {
         margin-top: 43px;
      }
   }

   .grid {
      @media screen and (min-width: 600px) {
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 60px;
         margin-bottom: 20px;
         padding: 0 40px;
      }
      @media screen and (min-width: 1024px) {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         margin-bottom: 60px;
      }
   }
}
