@import "../../main.scss";

.badge {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   background: $main-color;
   margin-right: 2vw;
   padding: 0 5px;
   border-radius: 5px;
   min-width: 84px;
   height: 18px;
   font-size: 10px;
   font-weight: 700;
   white-space: nowrap;
   color: white;
}
