footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: auto;
   background: black;
   color: white;
   height: 209px;
   width: calc(100% + 40px);
   margin-left: -20px;

   p {
      width: 133px;
      text-align: center;
   }

   @media screen and (min-width: 600px) {
      p {
        font-size: 24px;
        width: 100%;
      }
    }
}
