.footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: auto;
   background: black;
   color: white;
   height: 209px;
   width: 100%;
   padding: 0 20px;
   box-sizing: border-box;

   &__logo {
      .footer__logo-img {
         width: 145px;
      }
   }

   &__copyright {
      width: 100%;
      text-align: center;

      @media screen and (min-width: 600px) {
         font-size: 24px;
      }
   }

   @media screen and (min-width: 1024px) {
      padding: 0 100px;
   }
}
