.footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: black;
   color: white;
   margin-top: auto;
   height: 209px;
   width: 100%;
   padding: 50px 20px 0;
   box-sizing: border-box;

   &__logo {
      .footer__logo-img {
         width: 122px;
      }
   }

   &__copyright {
      width: 150px;
      text-align: center;
      font-size: 12px;

      @media screen and (min-width: 600px) {
         font-size: 24px;
         width: 100%;
      }
   }
}
