@import "../../main.scss";

.profil {
   display: flex;
   align-items: center;
   justify-content: right;
}

.name {
   color: $main-color;
   font-size: 12px;
   font-weight: 500;
   text-align: right;
   max-width: 50px;
}

.picture {
   border-radius: 300px;
   width: 32px;
   height: 32px;
   margin-left: 10px;
}
