@import "../../main.scss";

.rentDropdown {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
}

.rentContent {
   width: 100%;
}

.rentTitle h1 {
   margin-bottom: 10px;
   color: $main-color;

   font-size: 18px;
   font-weight: 500;
}

.rentLocation {
   color: black;
   font-size: 14px;
   font-weight: 500;
   line-height: 19.96px;
}

.renter {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.dropdownDescription,
.dropdownEquipements {
   width: 100%;
}

@media screen and (min-width: 1024px) {
   .rentContent {
      display: flex;
      justify-content: space-between;
      width: 100%;
   }
   .rentDropdown {
      flex-direction: row;
      justify-content: space-between;
      gap: 2vw;
   }
   .rentTags {
      margin-top: 20px;
   }
   .rentTitle h1 {
      font-size: 36px;
   }

   .rentLocation {
      font-size: 18px;
   }
   .renter {
      
      padding: 20px 0;
      gap: 10px;
      flex-direction: column-reverse;
      align-items: flex-end;
   }
}
