@import "../../main.scss";

.rating {
   display: flex;
   align-items: center;
   gap: 4px;
   font-size: 13px;

   &__star {
      &--filled {
         color: $main-color;
      }

      &--empty {
         color: gray;
      }
   }

   @media screen and (min-width: 600px) {
      font-size: 24px;
      gap: 10px;
   }
}
