.header {
   box-sizing: border-box;
   width: 100%;
   display: flex;
   position: sticky;
   top: 0;
   z-index: 1000;

   align-items: center;
   background-color: white;
   justify-content: space-between;
   padding: 20px 20px;

   &__logo {
      .header__logo-img {
         width: 145px;
      }
   }

   &__nav {
      &-list {
         display: flex;
         gap: 26px;
         font-size: 12px;
      }
   }

   @media screen and (min-width: 600px) {
      padding: 20px;
      font-size: 18px;

      &__logo {
         .header__logo-img {
            width: 180px;
         }
      }

      &__nav {
         &-list {
            gap: 57px;
            font-size: 24px;
         }
      }
   }

   @media screen and (min-width: 1024px) {
      padding: 40px 50px 20px;
      font-size: 24px;
      max-width: 1340px;

      &__logo {
         .header__logo-img {
            width: 210px;
         }
      }
   }
}
