header {
   display: flex;
   position: sticky;
   top: 0;
   z-index: 1000;
   background-color: white;
   justify-content: space-between;
   padding: 20px 0 20px 0;

   .logo {
      .headerLogo {
         width: 145px;
      }
   }

   nav {
      ul {
         display: flex;
         gap: 26px;
      }
   }
}

@media screen and (min-width: 600px) {
   header {
      padding: 20px 50px 0 50px;
      font-size: 18px;

      .logo {
         .headerLogo {
            width: 180px;
         }
      }
   

      nav {
         ul {
            display: flex;
            gap: 57px;
         }
      }

      .headerLogo {
         width: 180px;
      }
   }
}

@media screen and (min-width: 1024px) {
   header {
      padding: 45px 50px 0 50px;
      font-size: 24px;

      .logo {
         .headerLogo {
            width: 210px;
         }
      }
   

      .headerLogo {
         width: 210px;
      }
   }
}
