header {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;

   .logo {
      .headerLogo {
         width: 145px;
      }
   }

   nav {
      ul {
         display: flex;
         gap: 26px;
      }
   }
}
